* {
    margin: 0%;
    padding: 0%;
    border: border-box;
    max-width: 100%;
    min-width: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 196, 0);
    justify-content: space-evenly;
    height: auto;
    min-height: 1.5rem;
    color: black;
    font-size: 1.5rem;
    width: 100%;
    font-size: 1rem;
}

.navbar2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(45, 143, 234);
    justify-content: space-evenly;
    height: auto;
    min-height: 70px;
    width: 100%;
    border:1px solid black;
}

.border {
    border: 0.5px solid transparent;
    cursor: pointer;
    padding: 10px;
}

.border:hover {
    border: 0.5px solid black;
    cursor: pointer;
}

.icon {
    padding: 3px;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-left: 5px;
    padding: 5px;
    height: auto;
    width: auto;
}


.n-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: auto;
    width: auto;
}

.n-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
}

.n-box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
}

.n-box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
}

.n-box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
}

.n-box6 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.n2-box1 {
    height: auto;
    width: auto;
    background-color: aqua;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.n2-box2 {
    color: rgb(27, 69, 222);
    min-height: 300px;
    max-height: auto;
    width: auto;
    padding: 10px;
    background-color: green;
    border: 1px solid black;
}

.m-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
    margin: 20px;
    padding: 20px;
    width: 150px;
    background-color: red;
    color: white;
    border: 1px solid transparent;
}

.m-box2 { 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgb(45, 143, 234);;
    color: white;
    justify-content: space-evenly;
    height: auto;
    min-height: 30px;
    width: 100%;
    border: 3px solid black;
}

.p1 {
    padding: 5px;
    height: auto;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
}

.p2 {
    padding: 5px;
    width: 300px;
    height: auto;
    margin-left: 35%;
}

.m-box3 {
    border: 1px solid black;
    height: auto;
    width: 40%;
    min-width: 100px;
 }

.m-box3a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.1rem;
    height: 15px;
    padding: 5px;
    border: 2px solid black;
    width: auto;
    background-color: rgb(45, 143, 234);
}

.m-box4 {
    border: 1px solid black;
    height: auto;
    width: 40%;
    min-width: 100px;
}

.m-box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.f {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: auto;
    min-height: 50px;
    width: 100%;
    border: 0.2rem solid black;
    background-color: wheat;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: auto;
    min-height: 50px;
    width: auto;
    color: white;
    background-color: green;
    font-weight: 500;
    margin-bottom: 20px;
    border: 0.2rem solid black;
}